/* Brendan Thoele, 07.21.2025 */

html, body {
  margin: 0;
  background-color: rgb(48, 48, 48);
}

/* Styles for the editing menu */

.container {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
  padding-top: 2em;
  gap: 1em;
}

.container button {
  border-radius: 5em;
  padding: .7em;
  border: none;
  background-color: rgb(100, 100, 100);
  color: whitesmoke;
  font-size: 1.1em;
}

.container button:last-of-type {
  background-color: rgb(97, 0, 0);
}

.container button.current {
  background-color: aliceblue;
}